/* .Image1{
    height:400px;
     /* width: 700px; 
    background-image: url(../../Assets/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg);
    background-size: contain;
    background-position: center;
    position: relative;
    left: 25%;
}

.Image2{
    height:400px;
    /* width: 200px; 
    background-image: url(../../Assets/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg);
    background-size: contain;
}

.Image3{
    height: 400px;
    background-image: url(../../Assets/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg);
}

.Image4{
    height: 400px;
    background-image: url(../../Assets/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg);
} */